.barrel {
  img:first-child {
    margin-top: 70px;
    z-index: 10;
    position: absolute;
  }
  img:nth-child(2) {
    z-index: 5;
    margin-top: 55px;
    position: absolute;
  }
}

.barrel-head {
  transition: 2s;
}

.barrel-active {
  transform: translateY(-55px);
  transition: 0.5s;
}
