.bubble-header,
.bubble {
  text-align: center;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.bubble-header p,
.bubble p {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 35px;
}

.bubble-header-1,
.bubble-header-1 p {
  width: 408px;
  height: 182px;
}

.bubble-header-2,
.bubble-header-2 p {
  width: 399px;
  height: 175px;
}

.bubble-header-3,
.bubble-header-3 p {
  width: 399px;
  height: 175px;
  position: absolute;
}

.bubble-header-3 {
  margin: 45px 120px;
}

.bubble-header-4,
.bubble-header-4 p {
  width: 399px;
  height: 209px;
  position: absolute;
}

.bubble-header-4 {
  margin: 30px 150px;
}

.bubble-fracture {
  z-index: 15;
  position: relative;
  height: 0;
  top: -200px;
}

.bubble-fracture p {
  position: absolute;
  font-size: 48px;
  height: 30vw;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 0 40px;
  margin-top: 2.5vw;
}

.bubble-fracture img {
  width: 100vw;
}

.bubble p {
  width: 400px;
  margin-top: 85px;
}

.header-section-1 .bubble-header {
  margin: 64px 28px;
}

.bubble-climax {
  top: 500px;
  left: 860px;
  position: relative;
  p {
    position: absolute;
    font-size: 24px;
    width: 292px;
    text-align: center;
    margin-top: 10px;
  }
  img {
    width: 292px;
  }
}
