// malheureusement cette section supporte mal le redimensionnement -> à cause de
// l'utilisation de vh mais je savais pas comment faire sans pour que se soit le
// plus responsive possible

.castle-section {
  width: 100vw;
  height: 800px;
}

.castle-info-cumbe {
  margin-top: 70px;
}

.castle-background {
  background-image: url(../img/background-castle.jpg?as=webp);
  width: 100%;
  height: 2000px;
  background-position: bottom;
  background-size: cover;
  position: absolute;
}

.castle-middleground {
  position: absolute;
  width: 100%;
  z-index: 5;
  // top: -140vh;
  margin-top: 1000px;
}

.castle-bubble-king {
  transform: translatey(-100px);
}

.castle-bubble-cumbe {
  margin-top: 485px;
}

.castle-img-cumbe {
  margin-top: 200px;
}

.castle-middleground {
  img {
    width: 100%;
  }
}

.castle-foreground {
  background-image: url(../img/foreground-castle.png?as=webp);
  height: 85vh;
  background-size: cover;
  background-position: center;
}

.castle-foreground-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 800px;
  z-index: 10;
}
