.castle-section {
  width: 100vw;
  height: 100vh;
}

.castle-info-cumbe {
  margin-top: 70px;
}

.castle-background {
  background-image: url(../img/background-castle.jpg);
  width: 100%;
  height: 200vh;
  background-position: bottom;
  background-size: cover;
  position: absolute;
}

.castle-middleground {
  position: absolute;
  width: 100%;
  z-index: 5;
  // top: -140vh;
  margin-top: 1000px;
}

.castle-bubble-cumbe {
  margin-top: 485px;
}

.castle-img-cumbe {
  margin-top: 400px;
}

.castle-middleground {
  img {
    width: 100%;
  }
}

.castle-foreground {
  background-image: url(../img/foreground-castle.png);
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.castle-foreground-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 260vh;
  z-index: 10;
}

// transform: translatey(-1300px);
