.castle-section img {
  width: 100%;
}

.castle-info-cumbe {
  margin-top: 70px;
}

.castle-middleground {
  position: absolute;
  top: 4100px;
}

.castle-foreground {
  position: absolute;
  top: 4600px;
}
