.end-climax {
  height: 100vh;
  width: 50%;
  background-image: url(../img/background-isa-sword.jpg);
  background-size: cover;
  background-position: bottom;
}

.end-section {
  display: flex;
  width: 200vw;
  transition: 0.5s;
  .active {
    transform: translateX(-50%);
  }
}

.end-shop {
  background: black;
  color: white;
  height: 100vh;
  width: 100vw;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.end-info-container {
  display: flex;
  padding-top: 90px;
  align-items: flex-start;
  justify-content: space-between;
  img {
    width: 129px;
  }
  .cta {
    margin-top: 20px;
  }
}

.end-shop-logo-furieuse {
  width: 400px;
}

.end-book {
  height: 561px;
  img {
    height: 100%;
  }
}

.end-shop-info {
  padding: 95px 0 0 75px;
  p {
    padding-top: 40px;
  }
}

.end-container-logo svg {
  width: 15px;
  height: 20px;
}

.end-container-logo {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.end-footer-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.end-footer {
  font-size: 16;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  p,
  a {
    font-family: "akshar", sans-serif;
    font-weight: 400;
  }
}
