body {
  overflow-x: hidden;
}

.horizontal-scroll-container {
  width: 100vw;
  height: 100vh;
}

.horizontal-scroll {
  display: flex;
  width: 100vw; /* Adjust width based on the number of panels */
  height: 100vh;
}

.panel {
  min-width: 400vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 176, 136, 1) 23%,
    rgba(183, 0, 192, 1) 49%,
    rgba(208, 224, 0, 1) 80%,
    rgba(0, 0, 255, 1) 100%
  );

  color: #fff;
  border-right: 1px solid #ccc;
}
