body {
  overflow-x: hidden;
}

.horizontal-scroll-container {
  width: 100vw;
  height: 100vh;
}

.horizontal-scroll {
  display: flex;
  width: 100vw; /* Adjust width based on the number of panels */
  height: 100vh;
}
