// .pillar-container {
//   position: absolute;
//   width: 280px;
//   z-index: 1;
//   height: 100vh;
//   width: 200vh;
//   margin-left: 1200px;
//   overflow: hidden;
//   display: flex;
//   align-items: flex-start;
//   justify-content: space-between;
// }

// .pillar {
//   width: 320px;
// }

// width: 1600px;

.pillar {
  width: 280px;
}

.pillar-contain {
  z-index: 1;
  height: 100vh;
  width: 400px;
  // overflow: hidden;
}
