.sister-section {
  background: #0c0c0c;
  color: white;
  font-size: 24px;
}

.sister-info {
  height: 419px;
  padding: 165 0 0 0;
}

.sister-info div div div:last-child {
  position: relative;
  top: 140px;
}

.sister-background img {
  width: 100%;
  transform: scale(55%);
  position: relative;
  right: -400px;
  top: 70px;
  transition: 1s;
}

.sister-background {
  background-image: url(../img/king-sword.jpg);
  background-size: cover;
  background-position: bottom;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sister-background img.active {
  width: 100%;
  transform: scale(30%);
  position: relative;
  right: -280px;
  top: 118vh;
}
