* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: katari;
  font-weight: 700;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

header {
  height: 100%;
}

// code qui rend visible la grille bootstrapp (je la garde sous la main au cas ou j'en ai de nouveau besoin)

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: #ffeeb08e;
//   border: 1px solid #ffd737;
// }

// .row + .row {
//   margin-top: 16px;
// }
// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: #ffeeb08e;
//   border: 1px solid #ffd737;
// }
